<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name=".ChronosWearTileProvider"
            android:label="ChronosFlow Dial"
            android:icon="@android:drawable/sym_def_app_icon"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>
        </service>
    </application>

</manifest>
